
fieldset{border: 0;}
input,
select,
textarea{padding: 10px; width: 100%;}
input.btn{width: auto; cursor: pointer;}


/***********************************
######### CUSTON BUTTONS ###########
***********************************/
.btn{
    display: inline-block;
    cursor: pointer;
    padding: 7px 12px;
    margin-top: 2px;
    background: #888;
    font-size: 0.9em;
    color: #fff !important;
    text-decoration: none !important;
    text-align: center;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-shadow: 1px 1px #555;
}

.btn_medium{
    padding: 10px 20px;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover{
    background: #555;
    text-decoration: none !important;
}

.btn_blue{
    background-color: #0E96E5;
    text-shadow: 1px 1px #096397;
}
.btn_blue:hover{background-color: #096397;}

.btn_green{
    background-color: #00B494;
    text-shadow: 1px 1px #008068;
}
.btn_green:hover{background-color: #008068;}

.btn_yellow{
    background-color: #FAAD50;
    text-shadow: 1px 1px #CC8D41;
}
.btn_yellow:hover{background-color: #CC8D41;}

.btn_red{
    background-color: #F45563;
    text-shadow: 1px 1px #C54550;
}
.btn_red:hover{background-color: #C54550;}

.btn_cta_blue{
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    background: #0E96E5;
    border-bottom: 5px solid #096397;
}

.btn_cta_blue:hover{
    background-color: #096397;
    border-color: #0A537D;
}

.btn_cta_green{
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    background: #00B494;
    border-bottom: 5px solid #008068;
}

.btn_cta_green:hover{
    background-color: #008068;
    border-color: #0B5747;
}

.btn_cta_yellow{
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    background: #FAAD50;
    border-bottom: 5px solid #CC8D41;
}

.btn_cta_yellow:hover{
    background-color: #CC8D41;
    border-color: #A67436;
}

.btn_cta_red{
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    background: #F45563;
    border-bottom: 5px solid #C54550;
}

.btn_cta_red:hover{
    background-color: #C54550;
    border-color: #93343C;
}

.btn_green_noaction:hover{background: #00B494 !important; cursor: default !important;}
.btn_blue_noaction:hover{background: #0E96E5 !important; cursor: default !important;}
.btn_yellow_noaction:hover{background: #FAAD50 !important; cursor: default !important;}
.btn_red_noaction:hover{background: #F45563 !important; cursor: default !important;}

